{
  "openapi": "3.0.3",
  "info": {
    "title": "Mercos integration API",
    "version": "1.0.0",
    "description": "Unofficial document, assembled from the fragments published at docs.mercos.com. Generated by scripts/merge-spec.ts. Do not edit by hand; use spec/patches.json."
  },
  "servers": [
    {
      "url": "https://sandbox.mercos.com/api",
      "description": "Sandbox"
    },
    {
      "url": "https://app.mercos.com/api",
      "description": "Production"
    }
  ],
  "security": [
    {
      "ApplicationToken": [],
      "CompanyToken": []
    }
  ],
  "paths": {
    "/v1/ajustar_estoque": {
      "put": {
        "description": "",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "novo_saldo": {
                      "type": "number",
                      "example": 254.87,
                      "default": 0
                    }
                  }
                },
                "examples": {
                  "OK": {
                    "summary": "OK",
                    "value": {
                      "novo_saldo": 254.87
                    }
                  }
                }
              }
            }
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                },
                "examples": {
                  "Unauthorized": {
                    "summary": "Unauthorized",
                    "value": "{\n\t\"Sem permissao para acessar recurso\"\n}"
                  }
                }
              }
            },
            "description": "Unauthorized"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                },
                "examples": {
                  "Too Many Requests": {
                    "summary": "Too Many Requests",
                    "value": {
                      "limite_de_requisicoes": 1,
                      "tempo_ate_permitir_novamente": 5
                    }
                  }
                }
              }
            },
            "description": "Too Many Requests"
          }
        },
        "operationId": "put_v1_ajustar_estoque",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "produto_id": {
                    "type": "integer",
                    "description": "Identificador do produto.",
                    "default": "10"
                  },
                  "novo_saldo": {
                    "type": "number",
                    "format": "double",
                    "default": "254.87",
                    "description": "Novo saldo de estoque do produto. Após o ajuste de estoque, o saldo do produto ficará igual ao valor informado neste campo. Valor máximo suportado: 9999999.99."
                  }
                },
                "required": [
                  "produto_id",
                  "novo_saldo"
                ]
              },
              "examples": {}
            }
          }
        },
        "x-readme": {},
        "summary": "Ajustar o estoque do produto",
        "externalDocs": {
          "url": "https://docs.mercos.com/reference/ajustar-o-estoque-do-produto"
        }
      }
    },
    "/v1/ajustar_estoque_em_lote": {
      "post": {
        "responses": {
          "200": {
            "description": "OK",
            "headers": {},
            "content": {
              "application/json": {
                "examples": {
                  "OK": {
                    "summary": "OK",
                    "value": [
                      {
                        "produto_id": 10,
                        "novo_saldo": 254.87
                      },
                      {
                        "produto_id": 11,
                        "novo_saldo": 254.87
                      }
                    ]
                  }
                },
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "produto_id": {
                        "type": "integer",
                        "example": 10,
                        "default": 0
                      },
                      "novo_saldo": {
                        "type": "number",
                        "example": 254.87,
                        "default": 0
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                },
                "examples": {
                  "Unauthorized": {
                    "summary": "Unauthorized",
                    "value": "{\n\t\"Sem permissao para acessar recurso\"\n}"
                  }
                }
              }
            },
            "description": "Unauthorized"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                },
                "examples": {
                  "Too Many Requests": {
                    "summary": "Too Many Requests",
                    "value": "{\n  \"limite_de_requisicoes\": 1,\n  \"tempo_ate_permitir_novamente\": 5\n}"
                  }
                }
              }
            },
            "description": "Too Many Requests"
          }
        },
        "summary": "Ajustar os estoques de produtos em lote",
        "operationId": "post_v1_ajustar_estoque_em_lote",
        "description": "",
        "tags": [],
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {},
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "produto_id": {
                      "type": "integer",
                      "default": "10",
                      "description": "Identificador do produto."
                    },
                    "novo_saldo": {
                      "type": "number",
                      "format": "double",
                      "default": "254.87",
                      "description": "Novo saldo de estoque do produto. Após o ajuste de estoque, o saldo do produto ficará igual ao valor informado neste campo. Valor máximo suportado: 9999999.99."
                    }
                  },
                  "required": [
                    "produto_id",
                    "novo_saldo"
                  ]
                }
              }
            }
          }
        },
        "x-readme": {},
        "externalDocs": {
          "url": "https://docs.mercos.com/reference/ajustar-os-estoques-de-produtos-em-lote"
        }
      }
    },
    "/v1/atendimentos": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "headers": {},
            "content": {
              "application/json": {
                "examples": {
                  "OK": {
                    "summary": "OK",
                    "value": [
                      {
                        "id": 1,
                        "empresa_id": 1,
                        "data_inicio": "2025-05-18 00:00:00",
                        "data_fim": "2025-05-18 00:00:00",
                        "data_criacao": "2025-05-18 00:00:00",
                        "ultima_alteracao": "2025-05-18 00:00:00",
                        "tipo": 1,
                        "colaborador_id": 1,
                        "cliente_id": 1,
                        "evento_id": 1,
                        "resultado_id": 1,
                        "descricao": "Lorem ipsum",
                        "motivo": "Lorem ipsum",
                        "excluido": false
                      },
                      {
                        "id": 2,
                        "empresa_id": 1,
                        "data_inicio": "2025-05-18 00:00:00",
                        "data_fim": "2025-05-18 00:00:00",
                        "data_criacao": "2025-05-18 00:00:00",
                        "ultima_alteracao": "2025-05-18 00:00:00",
                        "tipo": 2,
                        "colaborador_id": 1,
                        "cliente_id": 1,
                        "evento_id": 2,
                        "resultado_id": 2,
                        "descricao": "Lorem ipsum",
                        "motivo": "Lorem ipsum",
                        "excluido": false
                      },
                      {
                        "id": 3,
                        "empresa_id": 1,
                        "data_inicio": "2025-05-18 00:00:00",
                        "data_fim": "2025-05-18 00:00:00",
                        "data_criacao": "2025-05-18 00:00:00",
                        "ultima_alteracao": "2025-05-18 00:00:00",
                        "tipo": 3,
                        "colaborador_id": 1,
                        "cliente_id": 1,
                        "evento_id": 3,
                        "resultado_id": 3,
                        "descricao": "Lorem ipsum",
                        "motivo": "Lorem ipsum",
                        "excluido": false
                      }
                    ]
                  }
                },
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "number",
                        "example": 1,
                        "default": 0,
                        "description": "Identificador único do evento."
                      },
                      "empresa_id": {
                        "type": "number",
                        "example": 1,
                        "default": 0,
                        "description": "Identificador único da empresa."
                      },
                      "data_inicio": {
                        "type": "string",
                        "example": "2025-05-18 00:00:00",
                        "format": "date-time",
                        "description": "Data e hora do início do atendimento."
                      },
                      "data_fim": {
                        "type": "string",
                        "example": "2025-05-18 00:00:00",
                        "format": "date-time",
                        "description": "Data e hora do fim do atendimento."
                      },
                      "data_criacao": {
                        "type": "string",
                        "example": "2025-05-18 00:00:00",
                        "format": "date-time",
                        "description": "Data e hora da criação do evento."
                      },
                      "ultima_alteracao": {
                        "type": "string",
                        "example": "2025-05-18 00:00:00",
                        "format": "date-time",
                        "description": "Data e hora da última alteração do evento."
                      },
                      "tipo": {
                        "type": "integer",
                        "example": 1,
                        "default": 0,
                        "description": "Tipo de evento (1: VISITA, 2: LIGACAO, 3: OUTROS, 4: EMAIL, 5: WHATSAPP, 6: SKYPE)."
                      },
                      "colaborador_id": {
                        "type": "integer",
                        "example": 1,
                        "default": 0,
                        "description": "Identificador único do colaborador."
                      },
                      "cliente_id": {
                        "type": "integer",
                        "example": 1,
                        "default": 0,
                        "description": "Identificador único do cliente."
                      },
                      "evento_id": {
                        "type": "integer",
                        "example": 1,
                        "default": 0,
                        "description": "Identificador único do evento."
                      },
                      "resultado_id": {
                        "type": "integer",
                        "example": 1,
                        "default": 0,
                        "description": "Identificador único do resultado do atendimento."
                      },
                      "descricao": {
                        "type": "string",
                        "example": "Lorem ipsum",
                        "description": "Descrição do evento."
                      },
                      "motivo": {
                        "type": "string",
                        "example": "Lorem ipsum",
                        "description": "Motivo do atendimento."
                      },
                      "excluido": {
                        "type": "boolean",
                        "example": false,
                        "default": true,
                        "description": "Indica se o evento foi excluído."
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                },
                "examples": {
                  "Unauthorized": {
                    "summary": "Unauthorized",
                    "value": "{\n\t\"Sem permissao para acessar recurso\"\n}"
                  }
                }
              }
            },
            "description": "Unauthorized"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                },
                "examples": {
                  "Too Many Requests": {
                    "summary": "Too Many Requests",
                    "value": {
                      "limite_de_requisicoes": 1,
                      "tempo_ate_permitir_novamente": 5
                    }
                  }
                }
              }
            },
            "description": "Too Many Requests"
          }
        },
        "summary": "Obter todos os atendimentos",
        "operationId": "get_v1_atendimentos",
        "description": "",
        "tags": [],
        "parameters": [
          {
            "in": "query",
            "name": "alterado_apos",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Retorna os registros alterados após esta data.",
            "required": true
          }
        ],
        "externalDocs": {
          "url": "https://docs.mercos.com/reference/obter-atendimentos"
        }
      },
      "post": {
        "responses": {
          "200": {
            "description": "OK",
            "headers": {},
            "content": {
              "application/json": {
                "examples": {
                  "OK": {
                    "summary": "OK",
                    "value": "{}"
                  }
                }
              }
            }
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                },
                "examples": {
                  "Unauthorized": {
                    "summary": "Unauthorized",
                    "value": "{\n\t\"Sem permissao para acessar recurso\"\n}"
                  }
                }
              }
            },
            "description": "Unauthorized"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                },
                "examples": {
                  "Too Many Requests": {
                    "summary": "Too Many Requests",
                    "value": {
                      "limite_de_requisicoes": 1,
                      "tempo_ate_permitir_novamente": 5
                    }
                  }
                }
              }
            },
            "description": "Too Many Requests"
          }
        },
        "summary": "Criar atendimentos em lote",
        "operationId": "post_v1_atendimentos",
        "description": "",
        "tags": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "tipo": {
                    "type": "number",
                    "description": "Tipo de evento (`1`: VISITA, `2`: LIGACAO, `3`: OUTROS, `4`: EMAIL, `5`: WHATSAPP, `6`: SKYPE)"
                  },
                  "cliente_id": {
                    "type": "number",
                    "description": "ID do cliente."
                  },
                  "data_inicio": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Data e hora do início do atendimento."
                  },
                  "data_fim": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Data e hora do fim do atendimento."
                  },
                  "colaborador_id": {
                    "type": "integer",
                    "format": "int32",
                    "description": "ID do colaborador."
                  },
                  "evento_id": {
                    "type": "integer",
                    "format": "int32",
                    "description": "ID do evento."
                  },
                  "resultado_id": {
                    "type": "integer",
                    "format": "int32",
                    "description": "ID do resultado do atendimento."
                  },
                  "descricao": {
                    "type": "string",
                    "description": "Descrição do evento."
                  },
                  "motivo": {
                    "type": "string",
                    "description": "Motivo do atendimento."
                  },
                  "excluido": {
                    "type": "boolean",
                    "description": "Indica se o evento foi excluído."
                  }
                },
                "required": [
                  "tipo",
                  "cliente_id"
                ]
              }
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.mercos.com/reference/obter-atendimentos-1-1"
        }
      }
    },
    "/v1/atendimentos/{id}": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "headers": {},
            "content": {
              "application/json": {
                "examples": {
                  "OK": {
                    "summary": "OK",
                    "value": {
                      "id": 3,
                      "empresa_id": 1,
                      "data_inicio": "2025-05-18 00:00:00",
                      "data_fim": "2025-05-18 00:00:00",
                      "data_criacao": "2025-05-18 00:00:00",
                      "ultima_alteracao": "2025-05-18 00:00:00",
                      "tipo": 3,
                      "colaborador_id": 1,
                      "cliente_id": 1,
                      "evento_id": 3,
                      "resultado_id": 3,
                      "descricao": "Lorem ipsum",
                      "motivo": "Lorem ipsum",
                      "excluido": false
                    }
                  }
                },
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "number",
                        "example": 1,
                        "default": 0,
                        "description": "Identificador único do atendimento."
                      },
                      "empresa_id": {
                        "type": "number",
                        "example": 1,
                        "default": 0,
                        "description": "Identificador único da empresa."
                      },
                      "data_inicio": {
                        "type": "string",
                        "example": "2025-05-18 00:00:00",
                        "format": "date-time",
                        "description": "Data e hora do início do atendimento."
                      },
                      "data_fim": {
                        "type": "string",
                        "example": "2025-05-18 00:00:00",
                        "format": "date-time",
                        "description": "Data e hora do fim do atendimento."
                      },
                      "data_criacao": {
                        "type": "string",
                        "example": "2025-05-18 00:00:00",
                        "format": "date-time",
                        "description": "Data e hora da criação do evento."
                      },
                      "ultima_alteracao": {
                        "type": "string",
                        "example": "2025-05-18 00:00:00",
                        "format": "date-time",
                        "description": "Data e hora da última alteração do evento."
                      },
                      "tipo": {
                        "type": "integer",
                        "example": 1,
                        "default": 0,
                        "description": "Tipo de evento (1: VISITA, 2: LIGACAO, 3: OUTROS, 4: EMAIL, 5: WHATSAPP, 6: SKYPE)."
                      },
                      "colaborador_id": {
                        "type": "integer",
                        "example": 1,
                        "default": 0,
                        "description": "Identificador único do colaborador."
                      },
                      "cliente_id": {
                        "type": "integer",
                        "example": 1,
                        "default": 0,
                        "description": "Identificador único do cliente."
                      },
                      "evento_id": {
                        "type": "integer",
                        "example": 1,
                        "default": 0,
                        "description": "Identificador único do evento."
                      },
                      "resultado_id": {
                        "type": "integer",
                        "example": 1,
                        "default": 0,
                        "description": "Identificador único do resultado do atendimento."
                      },
                      "descricao": {
                        "type": "string",
                        "example": "Lorem ipsum",
                        "description": "Descrição do evento."
                      },
                      "motivo": {
                        "type": "string",
                        "example": "Lorem ipsum",
                        "description": "Motivo do atendimento."
                      },
                      "excluido": {
                        "type": "boolean",
                        "example": false,
                        "default": true,
                        "description": "Indica se o evento foi excluído."
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                },
                "examples": {
                  "Unauthorized": {
                    "summary": "Unauthorized",
                    "value": "{\n\t\"Sem permissao para acessar recurso\"\n}"
                  }
                }
              }
            },
            "description": "Unauthorized"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                },
                "examples": {
                  "Too Many Requests": {
                    "summary": "Too Many Requests",
                    "value": {
                      "limite_de_requisicoes": 1,
                      "tempo_ate_permitir_novamente": 5
                    }
                  }
                }
              }
            },
            "description": "Too Many Requests"
          }
        },
        "summary": "Obter um atendimento",
        "operationId": "get_v1_atendimentos_id",
        "description": "",
        "tags": [],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "description": "ID do atendimento no sistema Mercos."
          }
        ],
        "externalDocs": {
          "url": "https://docs.mercos.com/reference/obter-atendimentos-1"
        }
      }
    },
    "/v1/atendimentos#atualizar-em-lote": {
      "post": {
        "responses": {
          "200": {
            "description": "OK",
            "headers": {},
            "content": {
              "application/json": {
                "examples": {
                  "OK": {
                    "summary": "OK",
                    "value": "{}"
                  }
                }
              }
            }
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                },
                "examples": {
                  "Unauthorized": {
                    "summary": "Unauthorized",
                    "value": "{\n\t\"Sem permissao para acessar recurso\"\n}"
                  }
                }
              }
            },
            "description": "Unauthorized"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "mensagem": {
                      "type": "string",
                      "example": "Ocorreram erros de validação"
                    },
                    "erros": {
                      "type": "array",
                      "items": {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "example": "[0].tipo"
                        }
                      }
                    },
                    "url": {
                      "type": "string",
                      "example": "/api/v1/atendimentos"
                    }
                  }
                },
                "examples": {
                  "Unprocessable Entity": {
                    "summary": "Unprocessable Entity",
                    "value": {
                      "mensagem": "Ocorreram erros de validação",
                      "erros": [
                        [
                          "[0].tipo",
                          "Valores permitidos: 1, 2, 3, 4, 5, 6. Valor recebido: 8."
                        ],
                        [
                          "[1].data_fim",
                          "Data inválida: \"2025-06-02\". Formato aceito: \"%Y-%m-%d %H:%M:%S\"."
                        ]
                      ],
                      "url": "/api/v1/atendimentos"
                    }
                  }
                }
              }
            },
            "description": "Unprocessable Entity"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                },
                "examples": {
                  "Too Many Requests": {
                    "summary": "Too Many Requests",
                    "value": {
                      "limite_de_requisicoes": 1,
                      "tempo_ate_permitir_novamente": 5
                    }
                  }
                }
              }
            },
            "description": "Too Many Requests"
          }
        },
        "summary": "Atualizar atendimentos em lote",
        "operationId": "post_v1_atendimentos_atualizar_em_lote",
        "description": "",
        "tags": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "format": "int32",
                      "description": "ID do atendimento."
                    },
                    "cliente_id": {
                      "type": "number",
                      "description": "ID do cliente."
                    },
                    "colaborador_id": {
                      "type": "integer",
                      "format": "int32",
                      "description": "ID do colaborador."
                    },
                    "tipo": {
                      "type": "number",
                      "description": "Tipo de evento (`1`: VISITA, `2`: LIGACAO, `3`: OUTROS, `4`: EMAIL, `5`: WHATSAPP, `6`: SKYPE)Tipo de evento (1: VISITA, 2: LIGACAO, 3: OUTROS, 4: EMAIL, 5: WHATSAPP, 6: SKYPE)."
                    },
                    "data_inicio": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Tipo de evento (`1`: VISITA, `2`: LIGACAO, `3`: OUTROS, `4`: EMAIL, `5`: WHATSAPP, `6`: SKYPE)Tipo de evento (1: VISITA, 2: LIGACAO, 3: OUTROS, 4: EMAIL, 5: WHATSAPP, 6: SKYPE)"
                    },
                    "data_fim": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Data e hora do fim do atendimento."
                    },
                    "evento_id": {
                      "type": "integer",
                      "format": "int32",
                      "description": "ID do evento."
                    },
                    "resultado_id": {
                      "type": "integer",
                      "format": "int32",
                      "description": "ID do resultado do atendimento."
                    },
                    "descricao": {
                      "type": "string",
                      "description": "Descrição do evento."
                    },
                    "motivo": {
                      "type": "string",
                      "description": "Motivo do atendimento."
                    },
                    "excluido": {
                      "type": "boolean",
                      "description": "Indica se o evento foi excluído."
                    }
                  },
                  "required": [
                    "tipo",
                    "cliente_id",
                    "id"
                  ]
                }
              }
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.mercos.com/reference/obter-atendimentos-1-1-1"
        }
      }
    },
    "/v1/atendimentos#excluir-em-lote": {
      "post": {
        "responses": {
          "200": {
            "description": "OK",
            "headers": {},
            "content": {
              "application/json": {
                "examples": {
                  "OK": {
                    "summary": "OK",
                    "value": "{}"
                  }
                }
              }
            }
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                },
                "examples": {
                  "Unauthorized": {
                    "summary": "Unauthorized",
                    "value": "{\n\t\"Sem permissao para acessar recurso\"\n}"
                  }
                }
              }
            },
            "description": "Unauthorized"
          },
          "422": {
            "description": "Unprocessable Entity",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "mensagem": {
                      "type": "string",
                      "example": "Ocorreram erros de validação"
                    },
                    "erros": {
                      "type": "array",
                      "items": {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "example": "[0].id"
                        }
                      }
                    },
                    "url": {
                      "type": "string",
                      "example": "/api/v1/atendimentos"
                    }
                  }
                },
                "examples": {
                  "Unprocessable Entity": {
                    "value": {
                      "mensagem": "Ocorreram erros de validação",
                      "erros": [
                        [
                          "[0].id",
                          "O id 229 não existe."
                        ]
                      ],
                      "url": "/api/v1/atendimentos"
                    },
                    "summary": "Unprocessable Entity"
                  }
                }
              }
            }
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                },
                "examples": {
                  "Too Many Requests": {
                    "summary": "Too Many Requests",
                    "value": {
                      "limite_de_requisicoes": 1,
                      "tempo_ate_permitir_novamente": 5
                    }
                  }
                }
              }
            },
            "description": "Too Many Requests"
          }
        },
        "summary": "Excluir atendimentos em lote",
        "operationId": "post_v1_atendimentos_excluir_em_lote",
        "description": "",
        "tags": [],
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {},
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "default": "",
                      "description": "ID do atendimento."
                    },
                    "excluido": {
                      "type": "boolean",
                      "description": "Indica se o atendimento foi excluído."
                    }
                  },
                  "required": [
                    "id",
                    "excluido"
                  ]
                }
              }
            }
          }
        },
        "x-readme": {
          "code-samples": [
            {
              "code": "[\n  {\n    \"id\": 227,\n    \"excluido\": true\n  },\n  {\n    \"id\": 229,\n    \"excluido\": true\n  }\n]",
              "language": "json",
              "name": "json"
            }
          ],
          "samples-languages": [
            "json"
          ]
        },
        "externalDocs": {
          "url": "https://docs.mercos.com/reference/excluir-atendimentos-em-lote"
        }
      }
    },
    "/v1/campos_extras": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "description": "Identificador único do campo extra."
                    },
                    "tipo": {
                      "type": "string",
                      "description": "Tipo do campo: \"`0`\" Texto livre, \"`1`\" Data, \"`2`\" Numérico, \"`3`\" Hora, \"`4`\" Lista.",
                      "enum": [
                        "[\"0\", \"1\", \"2\", \"3\", \"4\"]"
                      ]
                    },
                    "nome": {
                      "type": "string",
                      "description": "Nome do campo extra."
                    },
                    "obrigatorio": {
                      "type": "boolean",
                      "description": "Indica se o preenchimento do campo é obrigatório."
                    },
                    "casas_decimais": {
                      "type": "integer",
                      "description": "Quantidade de casas decimais (aplicável apenas para campos numéricos, de 0 a 5)."
                    },
                    "formato": {
                      "type": "string",
                      "description": "Formatação do valor numérico: ``\"0\"`` Sem formatação, ``\"1\"`` R$ (monetário), ``\"2\"`` %."
                    },
                    "exibir_para_cliente\t": {
                      "type": "boolean",
                      "description": "Define se o campo será visível para o cliente na visualização do pedido."
                    },
                    "lista_multipla": {
                      "type": "boolean",
                      "description": "Indica se o campo do tipo lista permite seleção múltipla."
                    },
                    "itens": {
                      "type": "array",
                      "items": {
                        "properties": {},
                        "type": "object"
                      },
                      "description": "Lista de itens disponíveis (apenas para campos do tipo lista)."
                    },
                    "ultima_alteracao": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Data e hora da última modificação do campo."
                    },
                    "excluido": {
                      "type": "boolean",
                      "description": "Indica se o campo extra foi excluído."
                    }
                  }
                },
                "examples": {
                  "OK": {
                    "summary": "OK",
                    "value": [
                      {
                        "ultima_alteracao": "2017-02-20 09:18:37",
                        "excluido": false,
                        "id": 1,
                        "tipo": "1",
                        "nome": "Data de envio",
                        "obrigatorio": false,
                        "casas_decimais": 0,
                        "formato": "0",
                        "exibir_para_cliente": true,
                        "lista_multipla": false,
                        "itens": []
                      },
                      {
                        "ultima_alteracao": "2017-02-20 09:18:53",
                        "excluido": false,
                        "id": 2,
                        "tipo": "4",
                        "obrigatorio": true,
                        "casas_decimais": 0,
                        "formato": "0",
                        "exibir_para_cliente": true,
                        "nome": "Estados",
                        "lista_multipla": false,
                        "itens": [
                          {
                            "id": 21,
                            "campo_custom_id": 2,
                            "ordem": 0,
                            "selecionado": true,
                            "ultima_alteracao": "2019-04-01 14:16:48",
                            "valor": "SC",
                            "excluido": false
                          }
                        ]
                      }
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                },
                "examples": {
                  "Unauthorized": {
                    "summary": "Unauthorized",
                    "value": "{\n\t\"Sem permissao para acessar recurso\"\n}"
                  }
                }
              }
            },
            "description": "Unauthorized"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                },
                "examples": {
                  "Too Many Requests": {
                    "summary": "Too Many Requests",
                    "value": {
                      "limite_de_requisicoes": 1,
                      "tempo_ate_permitir_novamente": 5
                    }
                  }
                }
              }
            },
            "description": "Too Many Requests"
          }
        },
        "summary": "Obter todos os campos extras",
        "operationId": "get_v1_campos_extras",
        "description": "",
        "tags": [],
        "parameters": [
          {
            "in": "query",
            "name": "alterado_apos",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "required": true,
            "description": "Retorna os registros alterados após esta data."
          }
        ],
        "x-readme": {},
        "externalDocs": {
          "url": "https://docs.mercos.com/reference/obter-todos-os-campos-extras"
        }
      },
      "post": {
        "responses": {
          "200": {
            "description": "OK",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                },
                "examples": {
                  "OK": {
                    "summary": "OK",
                    "value": "{}"
                  }
                }
              }
            }
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                },
                "examples": {
                  "Unauthorized": {
                    "summary": "Unauthorized",
                    "value": "{\n\t\"Sem permissao para acessar recurso\"\n}"
                  }
                }
              }
            },
            "description": "Unauthorized"
          },
          "412": {
            "description": "Precondition Failed",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "mensagem": {
                      "type": "string"
                    },
                    "erros": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "mensagem": {
                            "type": "string"
                          },
                          "campo": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "Precondition Failed": {
                    "summary": "Precondition Failed",
                    "value": {
                      "mensagem": "Dados inválidos",
                      "erros": [
                        {
                          "mensagem": "Este campo é obrigatório.",
                          "campo": "tipo"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                },
                "examples": {
                  "Too Many Requests": {
                    "summary": "Too Many Requests",
                    "value": {
                      "limite_de_requisicoes": 1,
                      "tempo_ate_permitir_novamente": 5
                    }
                  }
                }
              }
            },
            "description": "Too Many Requests"
          }
        },
        "summary": "Incluir um campo extra do tipo lista",
        "operationId": "post_v1_campos_extras",
        "description": "_Obs: O cadastro dos itens respeita a ordem enviados para gerar o retorno dos IDs. O valor máximo de itens que podem ser cadastrados é 100_",
        "tags": [],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "tipo": "4",
                "nome": "Estados",
                "obrigatorio": false,
                "lista_multipla": false,
                "itens": [
                  {
                    "valor": "SC",
                    "selecionado": true,
                    "ordem": 0
                  },
                  {
                    "valor": "SP",
                    "selecionado": false,
                    "ordem": 1
                  }
                ]
              },
              "schema": {
                "type": "object",
                "properties": {
                  "tipo": {
                    "type": "string",
                    "description": "Tipo do campo: `\"0\"` Texto livre, `\"1\"` Data, `\"2\"` Numérico, `\"3\"` Hora, `\"4\"` Lista."
                  },
                  "nome": {
                    "type": "string",
                    "description": "Nome do campo extra."
                  },
                  "obrigatório": {
                    "type": "boolean",
                    "description": "Indica se o campo é de preenchimento obrigatório."
                  },
                  "casas_decimais": {
                    "type": "integer",
                    "description": "Quantidade de casas decimais (0 a 5, apenas para campos numéricos)"
                  },
                  "formato": {
                    "type": "string",
                    "description": "Formatação: `\"0\"` Sem formatação, `\"1\"` R$ (monetário), `\"2\"` %."
                  },
                  "exibir_para_cliente": {
                    "type": "boolean",
                    "description": "Indica se o campo será visível para o cliente."
                  },
                  "excluido": {
                    "type": "boolean",
                    "description": "Indica se o campo extra foi excluído."
                  },
                  "lista_multipla": {
                    "type": "boolean",
                    "description": "Indica se permite múltipla seleção (para tipo lista)."
                  },
                  "itens": {
                    "type": "array",
                    "items": {
                      "properties": {
                        "valor": {
                          "type": "string",
                          "description": "Valor do item exibido no campo."
                        },
                        "selecionado": {
                          "type": "boolean",
                          "description": "Define se o item vem pré-selecionado."
                        },
                        "ordem": {
                          "type": "integer",
                          "description": "Ordem de exibição do item na lista."
                        }
                      },
                      "type": "object"
                    },
                    "description": "Lista de itens disponíveis."
                  }
                },
                "required": [
                  "tipo",
                  "nome"
                ]
              }
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.mercos.com/reference/incluir-um-campo-extra-do-tipo-lista"
        }
      }
    },
    "/v1/campos_extras_cliente": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "example": 1,
                        "default": 0,
                        "description": "Identificador único do campo extra do cliente."
                      },
                      "ultima_alteracao": {
                        "type": "string",
                        "example": "2024-01-04 11:00:11",
                        "format": "date-time",
                        "description": "Data e hora da última modificação deste registro no Mercos."
                      },
                      "data_criacao": {
                        "type": "string",
                        "example": "2024-01-04 10:58:47",
                        "format": "date-time",
                        "description": "Data e hora da criação deste registro no Mercos."
                      },
                      "nome": {
                        "type": "string",
                        "example": "Campo Livre",
                        "description": "Nome do campo."
                      },
                      "tipo": {
                        "type": "string",
                        "example": "0",
                        "description": "(\"`0`\") Texto, (\"`1`\") Data, (\"`2`\") Numérico, (\"`3`\") Lista, (\"`4`\") Arquivo."
                      },
                      "excluido": {
                        "type": "boolean",
                        "example": false,
                        "default": true,
                        "description": "Indica se o campo está excluído."
                      },
                      "obrigatorio": {
                        "type": "boolean",
                        "example": false,
                        "default": true,
                        "description": "Indica se o preenchimento do campo é obrigatório."
                      },
                      "casas_decimais": {
                        "type": "integer",
                        "example": 0,
                        "default": 0,
                        "description": "Quantidade de casas decimais (0 a 5). Ignorado se o tipo não for numérico."
                      },
                      "lista_multipla": {
                        "type": "boolean",
                        "example": false,
                        "default": true,
                        "description": "Indica se é uma lista simples ou múltipla."
                      },
                      "formato": {
                        "type": "string",
                        "example": "0",
                        "description": "(\"`0`\") sem formatação, (\"`1`\") monetário 'R$', (\"`2`\") porcentagem '`%`'. Ignorado se o tipo não for numérico."
                      },
                      "informacoes_adicionais": {
                        "type": "string",
                        "example": "Informação adicional",
                        "description": "Informações adicionais que poderão constar em cada campo."
                      },
                      "exibir_no_b2b": {
                        "type": "boolean",
                        "example": false,
                        "default": true,
                        "description": "Indica se o valor preenchido será exibido no ecommerce."
                      },
                      "itens": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "integer"
                            },
                            "ultima_alteracao": {
                              "type": "string",
                              "format": "date-time"
                            },
                            "data_criacao": {
                              "type": "string",
                              "format": "date-time"
                            },
                            "valor": {
                              "type": "string"
                            },
                            "selecionado": {
                              "type": "boolean"
                            },
                            "excluido": {
                              "type": "boolean"
                            },
                            "ordem": {
                              "type": "integer"
                            }
                          }
                        },
                        "description": "Lista de itens (máximo de 10)."
                      }
                    }
                  }
                },
                "examples": {
                  "OK": {
                    "value": [
                      {
                        "id": 1,
                        "ultima_alteracao": "2024-01-04 11:00:11",
                        "data_criacao": "2024-01-04 10:58:47",
                        "nome": "Campo Livre",
                        "tipo": "0",
                        "excluido": false,
                        "obrigatorio": false,
                        "casas_decimais": 0,
                        "lista_multipla": false,
                        "formato": "0",
                        "informacoes_adicionais": "Informação adicional",
                        "exibir_no_b2b": false,
                        "itens": []
                      },
                      {
                        "id": 2,
                        "ultima_alteracao": "2024-01-04 10:59:11",
                        "data_criacao": "2024-01-04 10:59:11",
                        "nome": "Campo Numérico",
                        "tipo": "2",
                        "excluido": false,
                        "obrigatorio": false,
                        "casas_decimais": 2,
                        "lista_multipla": false,
                        "formato": "1",
                        "informacoes_adicionais": "",
                        "exibir_no_b2b": true,
                        "itens": []
                      },
                      {
                        "id": 3,
                        "ultima_alteracao": "2024-01-04 10:59:36",
                        "data_criacao": "2024-01-04 10:59:36",
                        "nome": "Lista múltipla",
                        "tipo": "3",
                        "excluido": false,
                        "obrigatorio": false,
                        "casas_decimais": 0,
                        "lista_multipla": true,
                        "formato": "0",
                        "informacoes_adicionais": "",
                        "exibir_no_b2b": false,
                        "itens": [
                          {
                            "id": 1,
                            "ultima_alteracao": "2024-01-04 10:59:36",
                            "data_criacao": "2024-01-04 10:59:36",
                            "valor": "Item 1",
                            "selecionado": true,
                            "excluido": false,
                            "ordem": 0,
                            "campo_id": 3
                          },
                          {
                            "id": 2,
                            "ultima_alteracao": "2024-01-04 10:59:36",
                            "data_criacao": "2024-01-04 10:59:36",
                            "valor": "Item 2",
                            "selecionado": false,
                            "excluido": false,
                            "ordem": 1,
                            "campo_id": 3
                          }
                        ]
                      }
                    ],
                    "summary": "OK"
                  }
                }
              }
            }
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                },
                "examples": {
                  "Unauthorized": {
                    "summary": "Unauthorized",
                    "value": "{\n\tSem permissao para acessar recurso\n}"
                  }
                }
              }
            },
            "description": "Unauthorized"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                },
                "examples": {
                  "Too Many Requests": {
                    "summary": "Too Many Requests",
                    "value": {
                      "limite_de_requisicoes": 1,
                      "tempo_ate_permitir_novamente": 5
                    }
                  }
                }
              }
            },
            "description": "Too Many Requests"
          }
        },
        "summary": "Obter campos extras do cliente",
        "operationId": "get_v1_campos_extras_cliente",
        "description": "",
        "tags": [],
        "parameters": [
          {
            "in": "query",
            "name": "alterado_apos",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "required": true,
            "description": "Retorna os registros alterados após esta data."
          }
        ],
        "x-readme": {},
        "externalDocs": {
          "url": "https://docs.mercos.com/reference/obter-campos-extras-do-cliente"
        }
      },
      "post": {
        "responses": {
          "201": {
            "description": "Created",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "description": "Identificador único do campo extra do cliente."
                    }
                  }
                },
                "examples": {
                  "Created": {
                    "summary": "Created",
                    "value": {
                      "id": 769
                    }
                  }
                }
              }
            }
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                },
                "examples": {
                  "Unauthorized": {
                    "summary": "Unauthorized",
                    "value": "{\n\tSem permissao para acessar recurso\n}"
                  }
                }
              }
            },
            "description": "Unauthorized"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "mensagem": {
                      "type": "string",
                      "description": "Mensagem geral do erro de validação da estrutura JSON enviada.",
                      "example": "Estrutura JSON inválida."
                    },
                    "erros": {
                      "type": "array",
                      "description": "Lista de erros encontrados na validação da estrutura JSON enviada.",
                      "items": {
                        "type": "string",
                        "example": "required key not provided @ data['tipo']"
                      }
                    }
                  }
                },
                "examples": {
                  "Unprocessable Entity": {
                    "summary": "Unprocessable Entity",
                    "value": {
                      "mensagem": "Estrutura JSON inválida.",
                      "erros": [
                        "required key not provided @ data['tipo']"
                      ]
                    }
                  }
                }
              }
            },
            "description": "Unprocessable Entity"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                },
                "examples": {
                  "Too Many Requests": {
                    "summary": "Too Many Requests",
                    "value": {
                      "limite_de_requisicoes": 1,
                      "tempo_ate_permitir_novamente": 5
                    }
                  }
                }
              }
            },
            "description": "Too Many Requests"
          }
        },
        "summary": "Incluir um campo extra do cliente",
        "operationId": "post_v1_campos_extras_cliente",
        "description": "",
        "tags": [],
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {},
              "schema": {
                "type": "object",
                "properties": {
                  "nome": {
                    "type": "string",
                    "description": "Nome do campo extra."
                  },
                  "tipo": {
                    "type": "string",
                    "description": "(\"0\") Texto, (\"1\") Data, (\"2\") Numérico, (\"3\") Lista, (\"4\") Arquivo."
                  },
                  "obrigatorio": {
                    "type": "boolean",
                    "description": "Indica obrigatoriedade do campo extra."
                  },
                  "casas_decimais": {
                    "type": "integer",
                    "description": "Quantidade de casas decimais, com valores suportados de 0 a 5. Esta informação será ignorada se o tipo do campo não for numérico."
                  },
                  "formato": {
                    "type": "string",
                    "description": "(\"0\") sem formatação, (\"1\") monetário 'R$', (\"2\") porcentagem '%'. Esta informação será ignorada se o tipo do campo não for numérico."
                  },
                  "exibir_no_b2b": {
                    "type": "boolean",
                    "description": "Indica se o valor preenchido para o campo será exibido no ecommerce."
                  },
                  "excluido": {
                    "type": "boolean",
                    "description": "Indica se o campo está excluído."
                  },
                  "lista_multipla": {
                    "type": "boolean",
                    "description": "Indica se é uma lista simples ou múltipla."
                  },
                  "informacoes_adicionais": {
                    "type": "string",
                    "description": "Informações adicionais que poderão constar em cada campo."
                  },
                  "itens": {
                    "type": "array",
                    "description": "Lista de itens do campo extra. Máximo de 10 itens.",
                    "items": {
                      "properties": {
                        "valor": {
                          "type": "string",
                          "description": "Valor do item. Máximo de 100 caracteres."
                        },
                        "selecionado": {
                          "type": "boolean",
                          "description": "Indica se esse item já vem pré-selecionado."
                        },
                        "ordem": {
                          "type": "number",
                          "description": "Ordem do item na lista."
                        }
                      },
                      "type": "object",
                      "required": [
                        "ordem",
                        "selecionado",
                        "valor"
                      ]
                    }
                  }
                },
                "required": [
                  "nome",
                  "tipo"
                ]
              }
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.mercos.com/reference/incluir-um-campo-extra-do-cliente"
        }
      }
    },
    "/v1/campos_extras_cliente/{id}": {
      "put": {
        "responses": {
          "200": {
            "description": "OK",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "description": "Identificador único do campo extra do cliente."
                    }
                  }
                },
                "example": {
                  "id": 1
                }
              }
            }
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                },
                "examples": {
                  "Unauthorized": {
                    "summary": "Unauthorized",
                    "value": "{\n\tSem permissao para acessar recurso\n}"
                  }
                }
              }
            },
            "description": "Unauthorized"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "mensagem": {
                      "type": "string",
                      "example": "Estrutura JSON inválida."
                    },
                    "erros": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "example": "required key not provided @ data['tipo']"
                      }
                    }
                  }
                },
                "examples": {
                  "Unprocessable Entity": {
                    "summary": "Unprocessable Entity",
                    "value": {
                      "mensagem": "Estrutura JSON inválida.",
                      "erros": [
                        "required key not provided @ data['tipo']"
                      ]
                    }
                  }
                }
              }
            },
            "description": "Unprocessable Entity"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                },
                "examples": {
                  "Too Many Requests": {
                    "summary": "Too Many Requests",
                    "value": {
                      "limite_de_requisicoes": 1,
                      "tempo_ate_permitir_novamente": 5
                    }
                  }
                }
              }
            },
            "description": "Too Many Requests"
          }
        },
        "summary": "Alterar um campo extra do cliente",
        "operationId": "put_v1_campos_extras_cliente_id",
        "description": "",
        "tags": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID do campo extra do cliente no sistema Mercos.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "nome": "Campo de descrição do cliente alterado",
                "excluido": false
              },
              "schema": {
                "type": "object",
                "properties": {
                  "nome": {
                    "type": "string",
                    "description": "Nome do campo extra."
                  },
                  "tipo": {
                    "type": "string",
                    "description": "(\"0\") Texto, (\"1\") Data, (\"2\") Numérico, (\"3\") Lista, (\"4\") Arquivo."
                  },
                  "obrigatorio": {
                    "type": "boolean",
                    "description": "Indica obrigatoriedade do campo extra."
                  },
                  "casas_decimais": {
                    "type": "integer",
                    "description": "Quantidade de casas decimais, valores suportados de 0 a 5. Esta informação será ignorada se o tipo do campo não for numérico."
                  },
                  "formato": {
                    "type": "string",
                    "description": "(\"0\") sem formatação, (\"1\") monetário 'R$', (\"2\") porcentagem '%'. Esta informação será ignorada se o tipo do campo não for numérico."
                  },
                  "exibir_no_b2b": {
                    "type": "boolean",
                    "description": "Indica se o valor preenchido para o campo será exibido no ecommerce."
                  },
                  "excluido": {
                    "type": "string",
                    "description": "Indica se o campo está excluído."
                  },
                  "lista_multipla": {
                    "type": "boolean",
                    "description": "Indica se é uma lista simples ou múltipla."
                  },
                  "informacoes_adicionais": {
                    "type": "string",
                    "description": "Informações adicionais que poderão constar em cada campo."
                  },
                  "itens": {
                    "type": "array",
                    "items": {
                      "properties": {
                        "valor": {
                          "type": "string",
                          "description": "Valor do item (máximo de 100 caracteres)."
                        },
                        "selecionado": {
                          "type": "boolean",
                          "description": "Indica se esse item já vem pré-selecionado."
                        },
                        "ordem": {
                          "type": "string",
                          "description": "Ordem do item na lista."
                        }
                      },
                      "type": "object"
                    },
                    "description": "Lista de itens."
                  }
                },
                "required": [
                  "nome",
                  "excluido"
                ]
              }
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.mercos.com/reference/alterar-um-campo-extra-do-cliente"
        }
      }
    },
    "/v1/campos_extras/{id}": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "headers": {},
            "content": {
              "application/json": {
                "examples": {
                  "OK": {
                    "summary": "OK",
                    "value": {
                      "ultima_alteracao": "2017-02-20 09:18:37",
                      "excluido": false,
                      "id": 1,
                      "tipo": "1",
                      "nome": "Data de envio",
                      "obrigatorio": false,
                      "casas_decimais": 0,
                      "formato": "0",
                      "exibir_para_cliente": true,
                      "lista_multipla": false,
                      "itens": []
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "tipo": {
                      "type": "string",
                      "example": "1"
                    },
                    "nome": {
                      "type": "string",
                      "example": "Data de envio"
                    },
                    "obrigatorio": {
                      "type": "boolean",
                      "example": false,
                      "default": true
                    },
                    "casas_decimais": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "formato": {
                      "type": "string",
                      "example": "0"
                    },
                    "exibir_para_cliente": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "lista_multipla": {
                      "type": "boolean",
                      "example": false,
                      "default": true
                    },
                    "itens": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {}
                      }
                    }
                  },
                  "required": [
                    "nome",
                    "tipo"
                  ]
                }
              }
            }
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                },
                "examples": {
                  "Unauthorized": {
                    "summary": "Unauthorized",
                    "value": "{}"
                  }
                }
              }
            },
            "description": "Unauthorized"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                },
                "examples": {
                  "Too Many Requests": {
                    "summary": "Too Many Requests",
                    "value": "{}"
                  }
                }
              }
            },
            "description": "Too Many Requests"
          }
        },
        "summary": "Obter um campo extra",
        "operationId": "get_v1_campos_extras_id",
        "description": "",
        "tags": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID do Campo Extra no sistema Mercos.",
            "required": true,
            "schema": {
              "type": "number"
            }
          }
        ],
        "externalDocs": {
          "url": "https://docs.mercos.com/reference/obter-um-campo-extra"
        }
      },
      "put": {
        "responses": {
          "200": {
            "description": "OK",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                },
                "examples": {
                  "OK": {
                    "summary": "OK",
                    "value": {
                      "tipo": "4",
                      "nome": "Estados",
                      "obrigatorio": false,
                      "lista_multipla": false,
                      "itens": [
                        {
                          "valor": "SC",
                          "selecionado": true,
                          "ordem": 0
                        },
                        {
                          "valor": "SP",
                          "selecionado": false,
                          "ordem": 1
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                },
                "examples": {
                  "Unauthorized": {
                    "summary": "Unauthorized",
                    "value": "{\n\t\"Sem permissao para acessar recurso\"\n}"
                  }
                }
              }
            },
            "description": "Unauthorized"
          },
          "412": {
            "description": "Precondition Failed",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "mensagem": {
                      "type": "string"
                    },
                    "erros": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "mensagem": {
                            "type": "string"
                          },
                          "campo": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "Precondition Failed": {
                    "summary": "Precondition Failed",
                    "value": {
                      "mensagem": "Dados inválidos",
                      "erros": [
                        {
                          "mensagem": "Este campo é obrigatório.",
                          "campo": "tipo"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                },
                "examples": {
                  "Too Many Requests": {
                    "summary": "Too Many Requests",
                    "value": {
                      "limite_de_requisicoes": 1,
                      "tempo_ate_permitir_novamente": 5
                    }
                  }
                }
              }
            },
            "description": "Too Many Requests"
          }
        },
        "summary": "Alterar um campo extra do tipo lista",
        "operationId": "put_v1_campos_extras_id",
        "description": "*Obs: Na alteração dos itens se não for enviado um id será criado um item novo, quando enviado id será alterado o item existente. A alteração dos itens respeita a ordem que foram enviados para gerar o retorno dos ids.*",
        "tags": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID do Campo Extra no sistema Mercos.",
            "required": true,
            "schema": {
              "type": "number"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "tipo": {
                    "type": "string",
                    "description": "Tipo do campo: `\"0\"` Texto livre, `\"1\"` Data, `\"2\"` Numérico, `\"3\"` Hora, `\"4\"` Lista."
                  },
                  "nome": {
                    "type": "string",
                    "description": "Nome do campo extra."
                  },
                  "obrigatorio": {
                    "type": "boolean",
                    "description": "Indica se o campo é de preenchimento obrigatório."
                  },
                  "casas_decimais": {
                    "type": "integer",
                    "description": "Quantidade de casas decimais (aplicável apenas para campos numéricos, de 0 a 5)."
                  },
                  "formato": {
                    "type": "string",
                    "description": "Formatação do valor numérico: `\"0\"` Sem formatação, `\"1\"` R$ (monetário), `\"2\"` %."
                  },
                  "exibir_para_cliente": {
                    "type": "boolean",
                    "description": "Indica se o valor será visível para o cliente na visualização do pedido."
                  },
                  "excluido": {
                    "type": "boolean",
                    "description": "Define se o campo deve ser marcado como excluído."
                  },
                  "lista_multipla": {
                    "type": "boolean",
                    "description": "Indica se o campo do tipo lista permite múltiplas seleções."
                  },
                  "itens": {
                    "type": "array",
                    "description": "Lista de itens para campos do tipo lista. Cada item deve seguir a estrutura descrita acima.",
                    "items": {
                      "properties": {
                        "valor": {
                          "type": "string",
                          "description": "Valor do item exibido no campo."
                        },
                        "selecionado": {
                          "type": "boolean",
                          "description": "Define se o item vem pré-selecionado."
                        },
                        "ordem": {
                          "type": "integer",
                          "description": "Ordem de exibição do item na lista."
                        }
                      },
                      "type": "object"
                    }
                  }
                },
                "required": [
                  "tipo",
                  "nome"
                ]
              }
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.mercos.com/reference/alterar-um-campo-extra-do-tipo-lista"
        }
      }
    },
    "/v1/categorias": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "headers": {},
            "content": {
              "application/json": {
                "examples": {
                  "Conta padrão": {
                    "summary": "Conta padrão",
                    "value": [
                      {
                        "ultima_alteracao": "2016-08-26 15:00:09",
                        "id": 1,
                        "nome": "Jogos",
                        "excluido": false,
                        "representada_id": 987
                      },
                      {
                        "ultima_alteracao": "2016-08-26 15:00:09",
                        "id": 2,
                        "categoria_pai_id": 1,
                        "nome": "Eletronicos",
                        "excluido": false,
                        "representada_id": 987
                      },
                      {
                        "ultima_alteracao": "2016-08-29 11:04:29",
                        "id": 3,
                        "categoria_pai_id": 1,
                        "nome": "Tabuleiro",
                        "excluido": false,
                        "representada_id": 987
                      },
                      {
                        "ultima_alteracao": "2016-08-29 11:04:56",
                        "id": 4,
                        "categoria_pai_id": 2,
                        "nome": "PC",
                        "excluido": false,
                        "representada_id": 987
                      }
                    ]
                  },
                  "Indústria com divisões": {
                    "summary": "Indústria com divisões",
                    "value": [
                      {
                        "ultima_alteracao": "2016-08-26 15:00:09",
                        "id": 1,
                        "nome": "Jogos",
                        "excluido": false,
                        "divisao_id": 987
                      },
                      {
                        "ultima_alteracao": "2016-08-26 15:00:09",
                        "id": 2,
                        "categoria_pai_id": 1,
                        "nome": "Eletronicos",
                        "excluido": false,
                        "divisao_id": 987
                      },
                      {
                        "ultima_alteracao": "2016-08-29 11:04:29",
                        "id": 3,
                        "categoria_pai_id": 1,
                        "nome": "Tabuleiro",
                        "excluido": false,
                        "divisao_id": 987
                      },
                      {
                        "ultima_alteracao": "2016-08-29 11:04:56",
                        "id": 4,
                        "categoria_pai_id": 2,
                        "nome": "PC",
                        "excluido": false,
                        "divisao_id": 987
                      }
                    ]
                  }
                },
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "ultima_alteracao": {
                        "type": "string",
                        "example": "2016-08-26 15:00:09",
                        "default": "",
                        "description": "Data e hora da última modificação desta categoria no Mercos."
                      },
                      "id": {
                        "type": "integer",
                        "example": 1,
                        "default": 0,
                        "description": "Identificador único."
                      },
                      "categoria_pai_id": {
                        "type": "string",
                        "description": "Só estará presente no retorno quando tiver alguma categoria pai vinculada."
                      },
                      "nome": {
                        "type": "string",
                        "example": "Jogos",
                        "description": "Nome da categoria."
                      },
                      "excluido": {
                        "type": "boolean",
                        "example": false,
                        "default": true,
                        "description": "Indica se a categoria está excluída."
                      },
                      "representada_id": {
                        "type": "integer",
                        "description": "Identificador da representada do registro. Retornado quando a sua conta **não é** uma indústria com divisões.",
                        "example": 987
                      },
                      "divisao_id": {
                        "type": "integer",
                        "description": "Identificador da divisão do registro. Retornado no lugar de `representada_id` quando a sua conta **é** uma indústria com divisões.",
                        "example": 987
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                },
                "examples": {
                  "Unauthorized": {
                    "summary": "Unauthorized",
                    "value": "{\n\t\"Sem permissao para acessar recurso\"\n}"
                  }
                }
              }
            },
            "description": "Unauthorized"
          },
          "412": {
            "description": "Precondition Failed — `divisao_id` inválido, ou a requisição enviou o parâmetro antigo `representada_id`.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "mensagem": {
                      "type": "string"
                    },
                    "erros": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "campo": {
                            "type": "string"
                          },
                          "mensagem": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "Divisão inexistente": {
                    "summary": "Divisão inexistente",
                    "value": {
                      "mensagem": "Dados inválidos",
                      "erros": [
                        {
                          "campo": "divisao_id",
                          "mensagem": "Divisão inexistente."
                        }
                      ]
                    }
                  },
                  "Filtro com o nome antigo": {
                    "summary": "Filtro com o nome antigo",
                    "value": {
                      "mensagem": "Dados inválidos",
                      "erros": [
                        {
                          "campo": "divisao_id",
                          "mensagem": "Use `divisao_id` no lugar de `representada_id`."
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                },
                "examples": {
                  "Too Many Requests": {
                    "summary": "Too Many Requests",
                    "value": "{\n  \"limite_de_requisicoes\": 1,\n  \"tempo_ate_permitir_novamente\": 5\n}"
                  }
                }
              }
            },
            "description": "Too Many Requests"
          }
        },
        "summary": "Obter todas as categorias",
        "operationId": "get_v1_categorias",
        "description": "",
        "tags": [],
        "parameters": [
          {
            "name": "alterado_apos",
            "in": "query",
            "description": "Retorna os registros que foram alterados após esta data.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "divisao_id",
            "in": "query",
            "description": "Filtra os registros de uma divisão. Disponível apenas nas contas de indústria com divisões. Sem este filtro, a consulta retorna os registros de todas as divisões. O valor precisa ser o `id` de uma divisão da sua conta.",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "x-readme": {},
        "externalDocs": {
          "url": "https://docs.mercos.com/reference/obter-todas-as-categorias"
        }
      },
      "post": {
        "responses": {
          "201": {
            "description": "Created",
            "headers": {},
            "content": {
              "application/json": {
                "examples": {
                  "Created": {
                    "summary": "Created",
                    "value": ""
                  }
                }
              }
            }
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                },
                "examples": {
                  "Unauthorized": {
                    "summary": "Unauthorized",
                    "value": "{\n\t\"Sem permissao para acessar recurso\"\n}"
                  }
                }
              }
            },
            "description": "Unauthorized"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                },
                "examples": {
                  "Too Many Requests": {
                    "summary": "Too Many Requests",
                    "value": "{\n  \"limite_de_requisicoes\": 1,\n  \"tempo_ate_permitir_novamente\": 5\n}"
                  }
                }
              }
            },
            "description": "Too Many Requests"
          }
        },
        "summary": "Incluir uma nova categoria",
        "operationId": "post_v1_categorias",
        "description": "",
        "tags": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "nome": {
                    "type": "string",
                    "default": "Nova categoria",
                    "description": "Nome da categoria."
                  },
                  "categoria_pai_id": {
                    "type": "integer",
                    "default": "12",
                    "description": "Só estará presente no retorno quando tiver alguma categoria pai vinculada."
                  },
                  "excluido": {
                    "type": "boolean",
                    "default": "false",
                    "description": "Indica se a categoria está excluída."
                  },
                  "representada_id": {
                    "type": "integer",
                    "description": "Identificador da representada. Opcional: quando não informado, o Mercos usa a representada associada à integração. Utilize este campo se a sua conta **não é** uma indústria com divisões. Se for, utilize `divisao_id` no lugar dele.",
                    "example": 987,
                    "nullable": true
                  },
                  "divisao_id": {
                    "type": "integer",
                    "description": "Identificador da divisão. Opcional: quando não informado, o Mercos usa a divisão associada à integração. Utilize este campo se a sua conta **é** uma indústria com divisões. Nas demais contas, utilize `representada_id`.",
                    "example": 987,
                    "nullable": true
                  }
                },
                "required": [
                  "nome"
                ]
              },
              "examples": {
                "Conta padrão": {
                  "summary": "Conta padrão",
                  "value": {
                    "nome": "Nova categoria",
                    "categoria_pai_id": 12,
                    "excluido": false,
                    "representada_id": 987
                  }
                },
                "Indústria com divisões": {
                  "summary": "Indústria com divisões",
                  "value": {
                    "nome": "Nova categoria",
                    "categoria_pai_id": 12,
                    "excluido": false,
                    "divisao_id": 987
                  }
                }
              }
            }
          }
        },
        "x-readme": {},
        "externalDocs": {
          "url": "https://docs.mercos.com/reference/incluir-uma-nova-categoria"
        }
      }
    },
    "/v1/categorias/{id}": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "headers": {},
            "content": {
              "application/json": {
                "examples": {
                  "Conta padrão": {
                    "summary": "Conta padrão",
                    "value": {
                      "ultima_alteracao": "2016-08-29 11:04:56",
                      "id": 39,
                      "categoria_pai_id": 2,
                      "nome": "PC",
                      "excluido": false,
                      "representada_id": 987
                    }
                  },
                  "Indústria com divisões": {
                    "summary": "Indústria com divisões",
                    "value": {
                      "ultima_alteracao": "2016-08-29 11:04:56",
                      "id": 39,
                      "categoria_pai_id": 2,
                      "nome": "PC",
                      "excluido": false,
                      "divisao_id": 987
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "ultima_alteracao": {
                      "type": "string",
[...]
